<p class="label">MY TRADES</p>
<!-- <div *ngIf="Trades.length !== 0">  -->
<div *ngIf="Trades">
	<div>
	  <table>
		<thead>
		  <tr>
			<!-- <th scope="col">id</th> -->
            <th scope="col">TICKER</th>
            <th scope="col">NAME</th>
            <th scope="col">SIDE</th>
            <th scope="col">PROFIT</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let trade of Trades.slice().reverse(); let i=index">
            <!-- <td *ngIf="i<3">{{order.id}}</td> -->
            <td *ngIf="i<5">{{trade.stockTicker}}</td>
			<td *ngIf="i<5">{{trade.name}}</td>
            <td *ngIf="i<5" [ngStyle]="{'color': trade.side === 'BUY' ? '#3DC553' : '#EB4C4C'}">{{trade.side}}</td>
            <td class="number" *ngIf="i<5" [ngStyle]="{'color': trade.profit < 0 ? '#FF4D4D' : '#3DC553' }">{{trade.profit | number : '1.2-3' }}%</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>

