<p class="label">MY ORDERS</p>
<!-- <div *ngIf="Orders.length !== 0">  -->
<div *ngIf="Orders">
	<div>
	  <table>
		<thead>
		  <tr>
			<!-- <th scope="col">id</th> -->
            <th scope="col">TICKER</th>
            <th scope="col">NAME</th>
            <th scope="col">SIDE</th>
            <th scope="col">PRICE</th>
            <th scope="col">SIZE</th>
            <th scope="col">STATUS</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let order of Orders.slice().reverse(); let i=index">
            <!-- <td *ngIf="i<3">{{order.id}}</td> -->
            <td *ngIf="i<20">{{order.stockTicker}}</td>
			<td *ngIf="i<20">{{order.name}}</td>
			<td *ngIf="i<20" [ngStyle]="{'color': order.buyOrSell === 'BUY' ? '#3DC553' : '#EB4C4C'}">{{order.buyOrSell}}</td>
			<td class="number" *ngIf="i<20">${{order.price}}</td>
            <td class="number" *ngIf="i<20">{{order.volume}}</td>
			<td *ngIf="i<20 && order.status === 'INIT'" [ngStyle]="{'color': '#DCDCDC'}">{{order.status}}</td>
			<td *ngIf="i<20 && order.status === 'PENDING'" [ngStyle]="{'color': '#EDB13B'}">{{order.status}}</td>
			<td *ngIf="i<20 && order.status === 'COMPLETE'" [ngStyle]="{'color': '#3DC553'}">{{order.status}}</td>
			<td *ngIf="i<20 && order.status === 'FAILED'" [ngStyle]="{'color': '#EB4C4C'}">{{order.status}}</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>
