/* table */
table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

table th, table td {
    padding: 5px;
}

table tbody > tr:hover {
    background-color: #1B2D1E;
}

table th {
    text-align: left;
}
