<div class="portfolio">
    <div class="portfolio-line1">
        <p class="label">PORTFOLIO</p>
        <div class="valuation-time">
            <!-- (click)="a = !a" [ngClass]="{'bold': a}" -->
            <p class='bold'>1D</p>
            <p class='label'>1W</p>
            <p class='label'>1M</p>
            <p class='label'>6M</p>
            <p class='label'>YTD</p>
            <p class='label'>3Y</p>
            <p class='label'>5Y</p>
        </div>
    </div>
    <div class="portfolio-line2">
        <p class="xxl">$323,561.33</p>
        <div class="portfolio-profit">
            <p>$8899.41</p>
            <p class="pos">+2.78%</p>
        </div>
    </div>
</div>
