.portfolio-line1 {
    display: flex;
    justify-content: space-between;
}

.valuation-time, .portfolio-profit {
    display: flex;
}

.valuation-time > *, .portfolio-profit > * {
    margin: 0px 10px 5px 0px;
}

.portfolio-line2 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}