/* grid */

.container {
    display: grid;
    grid-template-columns: [line1] 15% [line2] 25% [line3] 25% [line4] 30px [line5] auto [line6] 15% [line7];
    grid-template-rows: [row1-start] 110px [row1-end] 110px [row2-start] 150px [row2-end] 150px [row3-start] 150px [row3-end] 150px [row4-start] 110px [row4-end] 110px [row5-start] 110px [row5-end] 110px [row6-start] 110px [row6-end] 110px [row7-start];
    overflow: scroll;
}

.header {
    grid-column-start: line2;
    grid-column-end: line5;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.portfolio {
    /* background-color: #3DC553; */
    grid-column-start: line2;
    grid-column-end: line4;
    grid-row-start: row1-end;
    grid-row-end: row2-start;
    padding: 5px;
}

.trades {
    background-color: #0B150D;
    grid-column-start: line2;
    grid-column-end: line4;
    grid-row-start: row2-start;
    grid-row-end: row3-start;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

.orders {
    background-color: #0B150D;
    grid-column-start: line2;
    grid-column-end: line4;
    grid-row-start: row3-start;
    grid-row-end: row4-start;
    overflow: scroll;
    overflow-x: hidden;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.quote {
    /* background-color: #0B150D; */
    grid-column-start: line2;
    grid-column-end: line4;
    grid-row-start: row4-start;
    grid-row-end: row5-start;
    padding: 5px;
    margin-top: 20px;
}

.market{
    background-color: #0B150D;
    grid-column-start: line5;
    grid-column-end: line6;
    grid-row-start: row1-end;
    grid-row-end: row5-end;
    padding: 10px;
    margin-bottom: 14px;
    overflow: scroll;
    overflow-x: hidden;
}

.footer{
    /* background-color: #14380F; */
    grid-column-start: line2;
    grid-column-end: line5;
    grid-row-start: row5-start;
    grid-row-end: row5-end;
    padding: 5px;
}
