<div class="container">
    <app-header class="header"></app-header>
    <app-portfolio class="portfolio"></app-portfolio>
    <app-market-feed class="market"></app-market-feed>
    <app-trade-list class="trades"></app-trade-list>
    <app-order-list class="orders"></app-order-list>
    <app-quote class="quote"></app-quote>
</div>

<router-outlet></router-outlet>
