<!-- <div class="flex">
    <p class="xl">{{buydetails.stockTicker}}</p>
    <p class="xl">{{buydetails.name}}</p>
</div> -->
<div class="dropdown">
    <select (change)="selectTicker($event)" name="ticker">
        <option value="AAPL" selected="selected" [(ngModel)]="buydetails.name" [(ngModel)]="selldetails.name">Apple Inc. Common Stock</option>
        <option value="" selected="selected" [(ngModel)]="buydetails.name" [(ngModel)]="selldetails.name">Amazon.com, Inc. Common Stock</option>
        <option value="" selected="selected" [(ngModel)]="buydetails.name" [(ngModel)]="selldetails.name">Intel Corporation Common Stock</option>
        <option value="MSFT" selected="selected" [(ngModel)]="buydetails.name" [(ngModel)]="selldetails.name">Microsoft Corporation Common Stock</option>
        <option value="NFLX" selected="selected" [(ngModel)]="buydetails.name" [(ngModel)]="selldetails.name">Netflix, Inc. Common Stock</option>
        <option value="" selected="selected" [(ngModel)]="buydetails.name" [(ngModel)]="selldetails.name">PepsiCo, Inc. Common Stock</option>
        <option value="" selected="selected" [(ngModel)]="buydetails.name" [(ngModel)]="selldetails.name">Atlassian Corporation Plc Class A Ordinary Shares</option>
        <option value="TSLA" selected="selected" [(ngModel)]="buydetails.name" [(ngModel)]="selldetails.name">Tesla, Inc. Common Stock</option>
    </select>
</div>
<div>
    <div class="flex s">
        <div class="container">
            <div class="content">
                <p id="hidden">SIZE</p>
                <p id="label">BID</p>
                <p id="label">SIZE</p>
            </div>
            <div class="content">
                <p id="label">LATEST <br /> CLOSE</p>
                <p class="number">${{latestBidPrice}}</p>
                <p id="hidden">SIZEEE</p>
            </div>
            <div class="content">
                <p id="label" class="quote">YOUR <br /> QUOTE</p>
                <input name="bidprice" type="number" step="0.01" placeholder="your price" [(ngModel)]="buydetails.price">
                <input name="size" type="number" step="0.1" placeholder="size" [(ngModel)]="buydetails.volume">
            </div>
            <button class="btn" id="buy" (click)="createBuy()">BUY</button>
        </div>
        <div  class="container">
            <div class="content">
                <p id="hidden">SIZE</p>
                <p id="label">ASK</p>
                <p id="label">SIZE</p>
            </div>
            <div class="content">
                <p id="label">LATEST <br /> CLOSE</p>
                <p class="number">${{latestAskPrice}}</p>
                <p id="hidden">SIZEEE</p>
            </div>
            <div class="content">
                <p id="label" class="quote">YOUR <br /> QUOTE</p>
                <input name="askprice" type="number" step="0.01" placeholder="your price" [(ngModel)]="selldetails.price">
                <input name="size" type="number" step="0.1" placeholder="size" [(ngModel)]="selldetails.volume">
            </div>
            <button class="btn" id="sell" (click)="createSell()">SELL</button>
        </div>
    </div>  

</div>

