.flex {
    display: flex;
}

.flex > div > div {
    display: flex;
}

.s {
    display: flex;
}

.container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container:last-child {
    margin-left: 10px;
}

.content {
    justify-content: space-between;
}

.content > p {
    padding: 10px 5px 10px 5px;
}

.quote {
    background-color: #0B150D;
}

#hidden {
    color: #070C07;
}

#label {
    font-size: 13px;
    font-weight: 600;
    color: #8A8A8A;
}

input {
    background-color: #0B150D;
    color: #DCDCDC;
    font-size: 18px;
    border: unset;
    width: 100%;
    text-align: right;
    font-family: 'DM Mono', monospace;
}

.btn {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    font-family: 'Spartan', sans-serif;
    font-size: 24px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.01);
}

#buy {
    background-color: #14380F;
    border: #3DC553 solid 2px;
    color: #3DC553;
}

#sell{
    background-color: #5F1A1A;
    border: #EB4C4C solid 2px;
    color: #EB4C4C;
}

/* dropdown */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

select {
    height: 50px;
    font-size: 18px;
    font-family: 'Spartan', sans-serif;
    background-color: #0B150D;
    color: #DCDCDC;
}