/* fonts */
html {
    overflow: hidden;
}

body {
    font-family: 'Spartan', sans-serif;
}

.number {
    font-family: 'DM Mono', monospace;
}

h1, p {
    font-weight: 400;
}

.extra-light {
    font-weight: 200;
}

.bold {
    font-weight: 600;
    color: #DCDCDC;
}

/* font sizes */

.xxl {
    font-size: 48px;
    margin-top: 10px;
}

.xl {
    font-size: 24px;
    margin: 20px 25px 18px 0px;
}

p {
    font-size: 18px;
    margin:0;
}

.medium, th {
    font-size: 13px;
}

.small {
    font-size: 10px;
}

/* colours */

h1, p, tr {
    color: #DCDCDC;
}

.label, th {
    color: #8A8A8A;
}

.buy, .pos {
    color: #3DC553;
}

.sell, .neg {
    color: #FF4D4D;
}
.bg {
    background:#070C07 no-repeat;
}

.buy-btn {
    fill: #14380F;
}

.sell-btn {
    fill: #5F1A1A;
}

/* scrollbars */

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #1B2D1E; 
}

::-webkit-scrollbar-thumb {
    background: #325337;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #3E6C46; 
}

/* input field arrows */

input[type="number" i] {
    padding-right: 30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    background: url("assets/arrows2.png") no-repeat center center;
    background-size: 40px 40px;
    margin-right: 5px;
    width: 1em;
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}


