<p class="label">NASDAQ - 100</p>
<!-- <div *ngIf="MarketItems.length !== 0">  -->
<div *ngIf="MarketItems">
	<div>
	  <table>
		<thead>
		  <tr>
            <th scope="col">ticker</th>
            <th scope="col">last close</th>
            <th scope="col">%change</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let marketItem of MarketItems; let i=index">
            <!-- <td *ngIf="i<3">{{order.id}}</td> -->
            <td *ngIf="i<100">{{marketItem.ticker}}</td>
            <td class="number" *ngIf="i<100">{{marketItem.lastClose | number : '2.2-3' }}</td>
			<td class="number" *ngIf="i<100 && marketItem.percentChange > 0" [ngStyle]="{'color':'#3DC553'}">{{marketItem.percentChange | number : '1.2-3' }}%</td>
			<td class="number" *ngIf="i<100 && marketItem.percentChange < 0" [ngStyle]="{'color':'#EB4C4C'}">{{marketItem.percentChange | number : '1.2-3' }}%</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>
